@media only screen and (max-width: 480px) {
    body {
        width: 100vw;
    }
    .page1 li {
        width: 100%;
        position: relative;
        bottom: 20px;
        right: 75px;
    }
    .page2 img {
        margin-left: -119px;
        margin-top: -41px;
    }
    .page3 h1 {
        margin-left: 169px;
        width: 91vw;
    }
    .page3 p {
        width: 85vw;
        margin-left: 172px;
    }
    .page3 h3 {
        margin-left: 171px;
    }
    .icon {
        margin-top: -17px;
        margin-left: 160px;
        width: 56vw;
    }
    .page4 .new {
        position: relative;
        top: 321px;
        right: 201px;
        width: 242px;
    }
    .page4 .old {
        position: relative;
        top: 567px;
        right: 200px;
        width: 242px;
    }
    .About-us h1 {
        margin-left: -67px;
        margin-top: 353px;
    }
    .page6 {
        display: block;
    }
    .pic img {
        width: 88vw;
        height: 73vw;
        margin-left: -115px;
    }
    .page6-con .we {
        margin-left: 13px;
    }
    .page6-con .are {
        margin-left: 13px;
        width: 89vw;
    }
    .page6-con h3 {
        margin-left: 12px;
    }
    .Resume h1 {
        margin-top: 188px;
        margin-left: -67px;
    }
    .page8 {
        display: block;
        margin-top: 29px;
    }
    .page8 .year1 {
        margin-left: 4px;
        height: 63vh;
    }
    .year1,
    .pete,
    .lsu,
    .li,
    .paul,
    .he,
    .pod {
        margin-left: -25px;
    }
    .page8 .year2 {
        margin-left: 4px;
        height: 53vh;
        margin-top: -3px;
    }
    .year2,
    .james,
    .ud,
    .pd,
    .john,
    .mp,
    .pl {
        margin-left: -17px;
    }
    .portfolio h1 {
        margin-left: -67px;
        margin-top: 38px;
    }
    .page9 ul li {
        display: block;
        margin: 27px;
    }
    .page9 ul {
        list-style-type: none;
        margin-left: -67px;
        margin-top: -9px;
    }
    .page9 .white {
        margin-left: 13px;
    }
    .page10 {
        margin-left: -9px;
        display: block;
    }
    .page10 .first img {
        width: 95vw;
    }
    .page10 .second img {
        width: 95vw;
    }
    .page10 .third img {
        width: 95vw;
    }
    .get {
        margin-left: 24%;
        display: inline-block;
        margin-top: 20px;
    }
    .page11 {
        display: block;
        margin-left: -179px;
    }
    .call p {
        margin-left: 6px;
    }
    #mail1 {
        margin-left: 73px;
    }
    .mail h1 {
        margin-left: 27px;
    }
    .mail p {
        margin-left: 15px;
    }
    .form {
        margin-left: -126px;
    }
    .contact .user {
        padding: 0% 25.5%;
        margin-left: 10px;
    }
    .contact .pass {
        padding: 0% 25.5%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .contact .email {
        padding: 0% 25.5%;
        margin-left: 10px;
    }
    .contact .comm {
        padding: 0% 25.5%;
        margin-left: 10px;
    }
    .send h1 {
        margin-left: -126px;
    }
}

@media only screen and (max-width: 411px) {
    .page1 li {
        width: 100%;
        position: relative;
        bottom: 20px;
        right: 75px;
    }
    .page2 img {
        bottom: 3px;
        right: 0px;
    }
    .page3 {
        width: 100vw;
    }
    .page3 h1 {
        margin-left: 3px;
        bottom: 7px;
        width: 100%;
    }
    .page3 p {
        width: 79%;
        margin-left: 6px;
        bottom: 7px
    }
    .page3 h3 {
        height: 50px;
        width: 246px;
        padding: 20px 0px 0px 0px;
        margin-left: 5px;
    }
    .icon {
        margin-top: -20px;
        margin-left: -1px;
    }
    #icon1,
    #icon2,
    #icon3 {
        margin: 0px 10px;
    }
    .page4 {
        width: 50px;
        height: 50px;
        display: block;
        margin-top: -642px;
    }
    .page4 .old {
        right: -17px;
        margin-top: 125px;
        width: 242px;
    }
    .page4 .new {
        margin-top: 3px;
        left: 17px;
        width: 242px;
    }
    .page5 {
        display: block;
    }
    .About-us {
        margin-left: 132px;
        margin-top: 465px;
    }
    .About-us h1 {
        width: 38vw;
        margin-left: -11px;
    }
    .pic img {
        width: 90vw;
        height: 57vh;
        margin-left: -114px;
        margin-top: -102px;
    }
    .page6 {
        display: block;
        margin-top: 20%;
    }
    .page6-con .we {
        margin-left: 24px;
    }
    .page6 h3 {
        margin-top: 50px;
        margin-left: 22px;
    }
    .page6-con .are {
        margin-left: 24px;
    }
    .Resume {
        margin-top: 200px;
        margin-left: 35%;
    }
    .Resume h1 {
        margin-top: 68px;
        margin-left: -31px;
    }
    .page8 {
        display: block;
        margin-top: 29px;
    }
    .page8 .year1 {
        margin-bottom: -55px;
        margin-left: 5px;
        height: 65vh;
    }
    .page8 .year2 {
        margin-left: 5px;
        margin-top: 47px;
        height: 55vh;
    }
    .portfolio {
        margin-left: 31%;
        margin-top: 37px;
    }
    .portfolio h1 {
        margin-left: -14px;
        margin-top: 38px;
    }
    .page9 .white {
        margin-left: 13px;
    }
    .page9 ul {
        list-style-type: none;
        margin-left: -60px;
        margin-top: -9px;
    }
    .page9 ul li {
        display: block;
        margin: 27px;
    }
    .page10 {
        display: block;
        margin-left: -9px;
    }
    .page10 .first img {
        width: 98vw;
    }
    .page10 .second img {
        width: 98vw;
    }
    .page10 .third img {
        width: 98vw;
    }
    .get {
        margin-left: 24%;
    }
    .page11 {
        display: block;
        margin-left: -79px;
    }
    .call #call1 {
        margin-left: -50px;
    }
    .call h1 {
        margin-left: -76px;
    }
    .call p {
        margin-left: -115px;
    }
    .mail h1 {
        margin-left: -99px;
    }
    .mail p {
        margin-left: -111px;
    }
    .mail #mail1 {
        margin-left: -57px;
    }
    .contact .user {
        padding: 0% 23.5%;
        margin-left: 11px;
    }
    .contact .pass {
        padding: 0% 23.5%;
        margin-left: 11px;
        margin-top: 15px;
    }
    .contact .email {
        padding: 0% 23.5%;
        margin-left: 11px;
        margin-top: 17px;
    }
    .contact .comm {
        padding: 0% 23.5%;
        margin-left: 11px;
    }
    .send h1 {
        margin-left: -126px;
        font-weight: 700;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 360px) {
    .page1 li {
        width: 100%;
        position: relative;
        bottom: 20px;
        right: 75px;
    }
    .page2 img {
        bottom: 3px;
        right: 0px;
    }
    .page3 {
        width: 100vw;
    }
    .page3 h1 {
        margin-left: 3px;
        bottom: 7px;
        width: 86%;
    }
    .page3 p {
        width: 79%;
        margin-left: 6px;
        bottom: 7px
    }
    .page3 h3 {
        height: 50px;
        width: 246px;
        padding: 20px 0px 0px 0px;
        margin-left: 5px;
    }
    .icon {
        margin-top: -20px;
        margin-left: -1px;
    }
    #icon1,
    #icon2,
    #icon3 {
        margin: 0px 10px;
    }
    .page4 {
        width: 50px;
        height: 50px;
        display: block;
        margin-top: -642px;
    }
    .page4 .old {
        right: -17px;
        margin-top: 125px;
        width: 242px;
    }
    .page4 .new {
        margin-top: 3px;
        left: 17px;
        width: 242px;
    }
    .page5 {
        display: block;
    }
    .About-us {
        margin-left: 132px;
        margin-top: 541px;
    }
    .About-us h1 {
        width: 44vw;
        margin-left: -30px
    }
    .pic img {
        width: 92vw;
        height: 51vh;
        margin-left: -113px;
        margin-top: -74px;
    }
    .page6 {
        display: block;
        margin-top: 20%;
    }
    .page6-con .we {
        margin-left: 24px;
    }
    .page6 h3 {
        margin-top: 50px;
        margin-left: 22px;
    }
    .page6-con .are {
        margin-left: 24px;
    }
    .Resume {
        margin-top: 200px;
        margin-left: 35%;
    }
    .Resume h1 {
        margin-top: 124px;
        margin-left: -31px;
    }
    .page8 {
        display: block;
        margin-top: 29px;
    }
    .page8 .year1 {
        margin-bottom: -55px;
        margin-left: 5px;
        height: 66vh;
    }
    .page8 .year2 {
        margin-left: 5px;
        margin-top: 54px;
        height: 54vh;
    }
    .portfolio {
        margin-left: 31%;
        margin-top: 37px;
    }
    .page9 .white {
        margin-left: 13px;
    }
    .page9 ul {
        list-style-type: none;
        margin-left: -60px;
        margin-top: -9px;
    }
    .page9 ul li {
        display: block;
        margin: 27px;
    }
    .page10 {
        display: block;
        margin-left: -7px;
    }
    .page10 .first img {
        width: 100vw;
    }
    .page10 .second img {
        width: 100vw;
    }
    .page10 .third img {
        width: 100vw;
    }
    .get {
        margin-left: 22%;
    }
    .page11 {
        display: block;
        margin-left: -93px;
    }
    .call #call1 {
        margin-left: -50px;
    }
    .call h1 {
        margin-left: -76px;
    }
    .call p {
        margin-left: -115px;
    }
    .mail h1 {
        margin-left: -99px;
    }
    .mail p {
        margin-left: -111px;
    }
    .mail #mail1 {
        margin-left: -57px;
    }
    .form {
        margin-left: -122px;
    }
    .contact .user {
        padding: 0% 21.5%;
        margin-left: 10px;
    }
    .contact .pass {
        padding: 0% 21.5%;
        margin-left: 10px;
        margin-top: 15px;
    }
    .contact .email {
        padding: 0% 21.5%;
        margin-left: 10px;
        margin-top: 17px;
    }
    .contact .comm {
        padding: 0% 21.5%;
        margin-left: 10px;
    }
    .send h1 {
        margin-left: -123px;
        font-weight: 700;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 320px) {
    .page1 li {
        width: 100%;
        position: relative;
        bottom: 20px;
        right: 75px;
    }
    .page2 img {
        bottom: 3px;
        right: 0px;
    }
    .page3 {
        width: 100vw;
    }
    .page3 h1 {
        margin-left: 3px;
        bottom: 7px;
        width: 91%;
    }
    .page3 p {
        width: 84%;
        margin-left: 6px;
        bottom: 7px
    }
    .page3 h3 {
        height: 50px;
        width: 246px;
        padding: 20px 0px 0px 0px;
        margin-left: 5px;
    }
    .icon {
        margin-top: -20px;
        margin-left: -2px;
        width: 183px;
    }
    #icon1,
    #icon2,
    #icon3 {
        margin: 0px 10px;
    }
    .page4 {
        width: 50px;
        height: 50px;
        display: block;
        margin-top: -642px;
    }
    .page4 .old {
        right: -17px;
        margin-top: 125px;
        width: 242px;
    }
    .page4 .new {
        margin-top: 3px;
        left: 17px;
        width: 242px;
    }
    .page5 {
        display: block;
    }
    .About-us {
        margin-left: 132px;
        margin-top: 526px;
    }
    .About-us h1 {
        width: 49vw;
        margin-left: -45px;
    }
    .pic img {
        width: 96vw;
        height: 45vh;
        margin-left: -113px;
        margin-top: -102px;
    }
    .page6 {
        display: block;
        margin-top: 20%;
    }
    .page6-con .we {
        margin-left: 24px;
    }
    .page6 h3 {
        margin-top: 50px;
        margin-left: 22px;
    }
    .page6-con .are {
        margin-left: 24px;
    }
    .Resume {
        margin-top: 326px;
        margin-left: 35%;
    }
    .Resume h1 {
        margin-top: 20px;
        margin-left: -31px;
    }
    .page8 {
        display: block;
        margin-top: 29px;
    }
    .page8 .year1 {
        margin-bottom: -55px;
        margin-left: 5px;
        height: 56vh;
    }
    .page8 .year2 {
        margin-left: 5px;
        margin-top: 67px;
        height: 54vh;
    }
    .portfolio {
        margin-left: 31%;
        margin-top: 37px;
    }
    .page9 .white {
        margin-left: 13px;
    }
    .page9 ul {
        list-style-type: none;
        margin-left: -23px;
        margin-top: -9px;
    }
    .page9 ul li {
        display: block;
        margin: 27px;
    }
    .page10 {
        display: block;
        margin-left: 0px;
    }
    .page10 .first img {
        width: 100vw;
    }
    .page10 .second img {
        width: 100vw;
    }
    .page10 .third img {
        width: 100vw;
    }
    .get {
        margin-left: 20%;
    }
    .page11 {
        display: block;
        margin-left: -106px;
    }
    .call #call1 {
        margin-left: -50px;
    }
    .call h1 {
        margin-left: -76px;
    }
    .call p {
        margin-left: -115px;
    }
    .mail h1 {
        margin-left: -99px;
    }
    .mail p {
        margin-left: -111px;
    }
    .mail #mail1 {
        margin-left: -57px;
    }
    .contact .user {
        padding: 0% 20.5%;
        margin-left: 6px;
    }
    .contact .pass {
        padding: 0% 20.5%;
        margin-left: 6px;
        margin-top: 15px;
    }
    .contact .email {
        padding: 0% 20.5%;
        margin-left: 6px;
        margin-top: 17px;
    }
    .contact .comm {
        padding: 0% 20.5%;
        margin-left: 6px;
    }
    .send h1 {
        margin-left: -124px;
        font-weight: 700;
        margin-top: 8px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        width: 100vw;
    }
    .page1 li {
        width: 100%;
        position: relative;
        bottom: -4px;
        right: 163px;
        margin: 15px;
    }
    .page2 img {
        margin-top: -21px;
        margin-left: -93px;
        display: block;
    }
    .page3 {
        width: 100vw;
        margin-left: -111px;
    }
    .page3 h1 {
        position: relative;
        right: -23px;
        bottom: 7px;
        padding-top: 3rem;
        line-height: 1.5;
    }
    .page3 p {
        position: relative;
        right: -25px;
        bottom: 7px;
        width: 69%;
    }
    .page3 h3 {
        height: 50px;
        width: 246px;
        padding: 20px 0px 0px 0px;
        margin-left: 143px;
        margin-top: 40px;
    }
    .page4 .new {
        position: relative;
        bottom: -40px;
        right: 26px;
        width: 264px;
    }
    .page4 .old {
        right: 20px;
        position: absolute;
        width: 262px;
        bottom: -74px;
    }
    .icon {
        margin-left: 128px;
        margin-top: -23px;
    }
    .About-us {
        margin-left: 43%;
        display: inline-block;
        margin-bottom: 38px;
        margin-top: 34px;
    }
    .pic img {
        width: 47vw;
        height: 54vh;
        margin-left: -90px;
        margin-top: -12px;
    }
    .page6-con .we {
        margin-left: 40px;
    }
    .page6-con .are {
        margin-left: 40px;
        width: 40vw
    }
    .page6-con h3 {
        margin-left: 39px;
        margin-top: 40px;
    }
    .Resume h1 {
        margin-top: 238%;
    }
    .page8 {
        margin-top: 35px;
        margin-left: -82px;
        margin-right: 239px;
    }
    .page8 .year1 {
        height: 55vh;
    }
    .page8 .year2 {
        height: 55vh;
        margin-left: 9%;
    }
    .portfolio h1 {
        margin-top: 40px;
    }
    .page9 ul li {
        display: block;
        margin: 27px;
    }
    .page10 {
        margin-left: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .get {
        margin-left: 37%;
    }
    .page11 {
        margin-left: -175px;
    }
    .call #call1 {
        margin-left: 65px;
    }
    .call h1 {
        margin-left: 35px;
    }
    .call p {
        margin-left: -4px;
        width: 50vw;
    }
    .mail {
        margin-left: 59px;
    }
    .mail h1 {
        margin-left: -99px;
    }
    .mail p {
        margin-left: -111px;
    }
    .mail #mail1 {
        margin-left: -57px;
    }
    .contact .user {
        padding: 0% 40.5%;
        margin-left: -92px;
    }
    .contact .pass {
        padding: 0% 40.5%;
        margin-left: -92px;
    }
    .contact .email {
        padding: 0% 40.5%;
        margin-left: -92px;
    }
    .contact .comm {
        padding: 0% 40.5%;
        margin-left: -92px;
    }
    .send {
        margin-top: 18px;
        margin-left: 28px;
    }
}