@media only screen and (min-width: 481px) and (max-width: 900px) {
  .container {
    width: fit-content;
  }
}
@media only screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .navigation {
    display: block;
  }
  .navbar ul {
    list-style-type: none;
    display: unset;
    justify-content: flex-end;
  }
  .navbar li {
    margin-bottom: 10px;
  }
  .section,
  .top-heading {
    margin-top: 50px;
  }
  .innovation-solution {
    display: block;
  }
  .business-need {
    display: block;
    width: 100%;
  }
  .business-need h1,
  .business-need p {
    width: 100%;
    line-height: 1.1;
  }
  .business-need p,
  .aboutus-chidren-writeup .are {
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
  }

  .is-images {
    display: none;
  }
  .aboutus-chidren {
    display: block;
  }
  .aboutus-image {
    width: 100%;
  }
  .aboutus-chidren-writeup .we {
    font-weight: 500;
  }
  .resume-portfolio {
    column-gap: 20%;
  }
  .left-table > div,
  .right-table > div {
    padding-left: 10px;
  }
  .portfolio-heading ul {
    column-gap: 10px;
  }
  .portfolio-heading li a {
    font-size: 1rem;
  }
  .portfolio-pictures {
    display: block;
    text-align: center;
  }
  .portfolio-pictures > div img {
    max-width: 100%;
  }
  .ps-image {
    display: none;
  }
  .contact {
    column-gap: 20%;
  }
  .resize-contact {
    font-size: 14px;
  }
  .username,
  .password {
    padding: 1% 3%;
  }
  .email {
    padding: 1% 27%;
    margin-top: 15px;
  }
  .comment {
    padding: 8% 27%;
    margin-top: 15px;
  }
  .send-message {
    margin-left: 2%;
  }
}
@media only screen and (max-width: 390px) {
  .navbar li a {
    font-size: 1rem;
  }
  .business-need h1 {
    font-size: 1.6rem;
  }
  .aboutus-chidren-writeup .we {
    font-size: 1.1rem;
  }
  .username,
  .password,
  .email {
    padding: 1% 3%;
    margin-top: 10px;
  }
  .comment {
    padding: 8% 3%;
    margin-top: 10px;
  }

  .resize-contact {
    font-size: 0.8rem;
  }
  .resize {
    font-size: 0.8rem;
  }
  .send-message-div {
    text-align: center;
  }
}
