/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.page1 ul {
    /* margin: top 10px; */
    list-style-type: none;
}

.page1 {
    display: flex;
    justify-content: flex-end;
}

.page1 li {
    display: inline-block;
    margin-left: 37px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 12px;
}

.page1 ul li a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-family: montserrat;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

body {
    background-color: black;
}

.page2 {
    /* position: absolute; */
    margin-top: 10px;
    margin-left: 120px;
    display: block;
}

.page3 h1 {
    color: white;
    /* position: absolute; */
    margin-left: 120px;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.page3 {
    margin-right: 20%;
    width: 60%;
    margin-top: 20px;
}

.page3 p {
    color: #ffffff;
    width: 100%;
    /* position: absolute; */
    font-weight: 400;
    margin-left: 120px;
    line-height: 1.5;
    font-size: 18spx;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.page3 h3 {
    background-color: #fce82f;
    margin-left: 120;
    color: black;
    text-align: center;
    height: 50px;
    width: 246px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 120px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.page4 {
    margin-left: 5%;
}

.page4 .old {
    right: 35px;
    position: absolute;
}

.page4 .new {
    position: relative;
    bottom: 45px;
    right: 33px;
}

.page5 {
    justify-content: flex-end;
    display: flex;
}

.icon {
    margin-left: 105px;
}

#icon1,
#icon2,
#icon3 {
    background-color: yellow;
    font-size: 40px;
    margin: 0px 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.About-us h1 {
    color: white;
    border-bottom: 4px solid yellow;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.About-us {
    margin-left: 43%;
    display: inline-block;
    margin-bottom: 40px;
}

.page6 {
    display: flex;
    justify-content: flex-start;
}

.page6-con h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.page6-con .are {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.page6-con .we {
    font-weight: 600;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.pic {
    margin-left: 120px;
    width: 100%;
}

.page6-con {
    width: 100%;
    margin-right: 80px;
    height: 70vh;
    font-family: montserrat;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
}

.page6-con h3 {
    /* background-color: rgb(214, 214, 13);
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 40%;
    border-radius: 8px; */
    background-color: #fce82f;
    margin-left: 120;
    color: black;
    text-align: center;
    height: 50px;
    width: 246px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 0px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.Resume h1 {
    color: white;
    border-bottom: 4px solid yellow;
    font-weight: bold;
}

.Resume {
    margin-left: 43%;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.page8 {
    display: flex;
    justify-content: flex-start;
}

.page8 .year1 {
    color: white;
    margin-left: 120px;
    width: 100vw;
    height: 50vh;
    border-left: 5px solid yellow;
}

.page8 .year2 {
    color: white;
    margin-left: 20%;
    width: 100vw;
    height: 50vh;
    border-left: 5px solid yellow;
}

.year1 .pete {
    font-weight: 700;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    margin-top: 0px;
}

.year1 .paul {
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-top: 60px;
}

.year1 .he,
.lsu {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -15px;
}

.year1 .li,
.pod {
    font-weight: 500;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

.year2 .james {
    font-weight: 700;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    margin-top: 0px;
}

.year2 .john {
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-top: 60px;
}

.year2 .ud,
.mp {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -15px;
}

.year2 .pd,
.pl {
    font-weight: 500;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

.portfolio {
    margin-left: 43%;
    display: inline-block;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.portfolio h1 {
    color: white;
    border-bottom: 4px solid #fce82f;
    font-family: "Montserrat", sans-serif;
}

.page9 {
    display: flex;
    justify-content: center;
}

.page9 ul {
    list-style-type: none;
}

.page9 li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.page9 li {
    display: inline-block;
}

.page9 .white {
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page9 ul li a:hover {
    border: 1px solid rgb(253, 253, 253);
    background-color: white;
    color: black;
    background-size: 20px;
    padding: 0.6rem 2rem 0.6rem 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page10 {
    display: flex;
    justify-content: flex-start;
    margin-left: 120px;
}

.get {
    margin-left: 43%;
    display: inline-block;
    margin-top: 20px;
}

.get h1 {
    color: white;
    border-bottom: 4px solid yellow;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.page11 {
    display: flex;
    justify-content: flex-start;
}

#call1 {
    color: yellow;
    font-size: 35px;
    margin-left: 80px;
}

#mail1 {
    color: yellow;
    font-size: 35px;
    margin-left: 90px;
}

.call h1 {
    color: white;
    margin-left: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.call p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.mail h1 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-left: 48px;
    font-family: 'Montserrat', sans-serif;
}

.mail p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.call {
    margin-left: 300px;
}

.mail {
    margin-left: 300px;
}

.contact {
    margin-left: 120px;
    margin-top: 30px;
}

.contact .user {
    padding: 0% 14.5%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    height: 42px;
    /* box-shadow: 0px 6px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    height: 42px;
    width: 50%; */
}

.contact .pass {
    padding: 0% 14.5%;
    background-color: white;
    border-radius: 10px;
    margin-left: 18px;
    height: 42px;
}

.contact .email {
    padding: 0% 37%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    height: 42px;
}

.contact .comm {
    padding: 0% 37%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    height: 220px;
}

.send {
    display: inline-block;
    margin-top: 18px;
    margin-left: 132px;
}

.send h1 {
    background-color: #fce82f;
    margin-left: 120;
    color: black;
    text-align: center;
    height: 50px;
    width: 246px;
    border-radius: 10px;
    margin-left: 0px;
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}