/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 30px 5%;
}
.about-us-button,
.git-btn,
.send-message {
  background-color: #fce82f;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}

.section {
  margin-top: 100px;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.logo {
  max-width: 70%;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.navbar ul,
.portfolio-heading ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
}

.navbar li {
  font-size: 1.3rem;
  text-decoration: none;
}
.innovation-solution {
  display: flex;
}
.business-need {
  width: 60%;
  margin-top: 20px;
}
.business-need h1 {
  width: 60%;
  font-weight: 700;
  font-size: 2rem;
}

.business-need p {
  width: 80%;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.1rem;
}

.icon {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
}
#icon1,
#icon2,
#icon3 {
  color: #fce82f;
  font-size: 30px;
  border-radius: 50%;
}

.is-images .vector {
  position: absolute;
  max-width: 45%;
}

.is-images .rectangle {
  position: relative;
  bottom: 3.1em;
  max-width: 100%;
}

.top-heading {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}
.top-heading h1 {
  border-bottom: 3px solid #fce82f;
  font-weight: 700;
}
.aboutus-chidren {
  display: flex;
  column-gap: 10rem;
}
.aboutus-chidren-writeup .we {
  font-weight: 600;
  font-size: 20px;
}
.aboutus-chidren-writeup .are {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.aboutus-image {
  height: 90%;
}
.aboutus-chidren-writeup {
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
}

.resume-portfolio {
  display: flex;
  justify-content: center;
  column-gap: 35%;
}

.left-table,
.right-table {
  border-left: 2px solid #fce82f;
}
.left-table > div,
.right-table > div {
  padding-left: 30px;
}
.left-table h1,
.right-table h1 {
  margin-bottom: 20px;
}
.left-table h4,
.right-table h4 {
  margin-bottom: 10px;
}
.bottom-table {
  margin-top: 30px;
}

.portfolio-heading ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.portfolio-heading li a {
  font-size: 20px;
  font-weight: 500;
}

.portfolio-heading ul li a:hover {
  background-color: #fff;
  color: black;
  background-size: 20px;
  padding: 0.7rem;
  border-radius: 25px;
}

.portfolio-pictures {
  display: flex;
  justify-content: center;
}

.get h1 {
  color: white;
  border-bottom: 4px solid #fce82f;
  font-weight: 700;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.contact {
  display: flex;
  justify-content: center;
  column-gap: 30%;
}
.call,
.mail {
  text-align: center;
}
.resize {
  font-weight: 600;
  margin-bottom: 10px;
}
#git-icon {
  color: #fce82f;
  font-size: 20px;
  margin-bottom: 10px;
}
.form-field {
  margin-top: 20px;
  text-align: center;
}
.username,
.password,
.email,
.comment {
  padding: 1% 14.1%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.email {
  padding: 1% 35.7%;
  margin-top: 20px;
}

.comment {
  padding: 8% 35.7%;
  margin-top: 20px;
}

.send-message {
  margin-top: 20px;
  margin-left: 7%;
}
